@font-face {
  font-family: alata-regular;
  src: url(./components/fonts/Alata-Regular.ttf);
}
@font-face {
  font-family: bpg-mrgvlovani;
  src: url(./components/fonts/bpg_mrgvlovani_caps_2010.ttf);
}
@font-face {
  font-family: nunito-sans-extrabold;
  src: url(./components/fonts/NunitoSans_7pt_Condensed-ExtraBold.ttf);
}
@font-face {
  font-family: nunito-sans-regular;
  src: url(./components/fonts/NunitoSans_7pt_Condensed-Regular.ttf);
}
@font-face {
  font-family: roboto-black;
  src: url(./components/fonts/Roboto-Black.ttf);
}
@font-face {
  font-family: roboto-regular;
  src: url(./components/fonts/Roboto-Regular.ttf);
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.georgianStyle *{
  font-family: bpg-mrgvlovani;
}

.englishStyle *{
  font-family: nunito-sans-regular;
}

.russianStyle *{
  color: brown;
}